
<%= form_for(:settings, url: settings_url, method: :patch) do |f| %>
<%= f.label :includeLastYear, class: "checkbox inline" do  %>
    <%= f.check_box :includeLastYear, checked: @settings.includeLastYear %>
    <span>是否包含上年年假记录</span>
<% end %>
<%= f.submit "更新", class: "btn btn-primary" %>
<% end %>