<div class="templatemo-sidebar" id="sidebar">
    <header class="templatemo-site-header">
        <h1>小助手</h1>
    </header>
    <div class="mobile-menu-icon">
        <i class="fa fa-bars"></i>
    </div>
    <nav class="templatemo-left-nav">
        <ul>
            <li><a href="/"><i class="fa fa-fw"></i>员工信息列表</a></li>
            <li><a href="/records"><i class="fa fa-fw"></i>年假变更记录列表</a></li>
            <li><a href="/employees_manage"><i class="fa fa-fw"></i>员工管理</a></li>
            <li><a href="/records_manage"><i class="fa fa-fw"></i>休假记录管理</a></li>
            <li><a href="/settings"><i class="fa fa-fw"></i>设置</a></li>
            <li>
                <%= link_to logout_path, method: "delete" do %>
                <i class="fa fa-fw"></i>Log Out
                <% end %>
            </li>
        </ul>
    </nav>
</div>